{% extends 'student/studentbase.html' %}
{% block content %}

<style>
	* {
		font-family: tahoma
	}
</style>
<section>
    <div class="container" style="justify-content: center; display: flex; flex-wrap: wrap;">
	<h1>{{docs.title}}</h1>

    <div class="col-xl-8 col-lg-10 mx-auto">
        <div class="text-content" style="margin-left: 10px">

            {% if docs.name.isnumeric %}
            <iframe style="display: block;margin:auto"src="https://scratch.mit.edu/projects/{{docs.name}}/embed" allowtransparency="true" width="485" height="402" frameborder="0" scrolling="no" allowfullscreen></iframe>
            {{docs.content|safe}}
            {% else %}
            {{docs.content|safe}}
            {% endif %}
        </div>

    </div>
</section>




{% endblock %}