{% extends 'teacher/teacherbase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        a:link {
            text-decoration: none;
        }

        input {
            width: 100%;
        }
    </style>
</head>
<h2 style="text-align:center; color:blue;">UPDATE POST</h2>

<div class="container mt-5">


    <form method="post" class="mt-5 pt-5 mb-5 pb-5" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">


            <div class="col-md-12">
                {{courseForm.media}}
                {{courseForm.as_p}}
            </div>

        </div>

        <button type="submit" class="btn btn-primary mt-4">Update Docs</button>

    </form>
</div>
<br><br><br>
{% endblock content %}