<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}

<html lang="en" dir="ltr">

<head>
    <title>Learning System Online</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2201/2201570.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        a:link {
            text-decoration: none;
        }
    </style>
</head>

<body>
    {% include "quiz/navbar.html" %}
    <br><br><br><br><br><br>
    <div class="container">
        <h1>Password set</h1>
        <p>Your password has been set. You can <a href="{% url '' %}">log in now</a></p>
    </div>
    {% include "quiz/footer.html" %}
</body>

</html>