{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <style>
    a:link {
      text-decoration: none;
    }
  </style>
</head>
<h2 style="text-align:center; color:blue;">ADD QUESTION</h2>
<form method="POST" autocomplete="off" style="margin:100px;margin-top: 0px;">
  {%csrf_token%}
  <div class="form-group">
    <label for="question">Course</label>
    {% render_field questionForm.courseID|attr:'required:true' class="form-control" %}
    <br>

    <label for="question">Question</label>
    {% render_field questionForm.question|attr:'required:true' class="form-control" placeholder="" %}
    <br>
    <label for="question_number">Marks</label>
    {% render_field questionForm.marks|attr:'required:true' class="form-control" placeholder="" %}
    <br>
    <label for="option1">Answer 1</label>
    {% render_field questionForm.option1|attr:'required:true' class="form-control" placeholder="" %}
    <br>
    <label for="option2">Answer 2</label>
    {% render_field questionForm.option2|attr:'required:true' class="form-control" placeholder="" %}
    <br>
    <label for="option3">Answer 3</label>
    {% render_field questionForm.option3|attr:'required:true' class="form-control" placeholder="" %}
    <br>
    <label for="option4">Answer 4</label>
    {% render_field questionForm.option4|attr:'required:true' class="form-control" placeholder="" %}
    <br>
    <label for="answer">Right Answer</label>
    {% render_field questionForm.answer|attr:'required:true' class="form-control" %}
  </div>


  <button type="submit" class="btn btn-primary">ADD</button>
</form>
<br><br><br>
{% endblock content %}