<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <title>Learning System Online</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2201/2201570.png">



</head>

<body>

  {% include "quiz/navbar.html" %}
  <br><br>

  <center>
    <h3 class='alert alert-success'>Send Us Your Valuable Feedback !</h3>

    <form method="POST" autocomplete="off">
      <!-- Very Important csrf Token -->
      {% csrf_token %}
      <div class="form-group">
        <p>
        <h3>{{ form.as_p }}</h3>
        </p>
        <br>
        <input type="submit" value="Send Message" class='btn btn-primary btn-lg'>
      </div>
    </form>
  </center>

  {% include "quiz/footer.html" %}
</body>

</html>
