{%load static%}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Learning System Online</title>
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/2201/2201570.png">

  </head>
  <body>
    {% include "quiz/navbar.html" %}
    <br><br><br><br><br>
<img src="{% static 'image/logout_img.png' %}"  style="width:800px; height:100px; padding-left:400px;">

<br><br><br><br><br>
<br><br><br><br><br>
<br><br>
{% include "quiz/footer.html" %}

  </body>
</html>
