{% extends 'quiz/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<br><br>
<h3 style="text-align:center;">{{content}} STUDENT </h3>
<div style="margin-bottom: 20px">
  <form method="post" autocomplete="off" enctype="multipart/form-data" style="margin-left:200px;margin-right:200px;">
    {% csrf_token %}
    <label for="first_name">First Name</label>
    {% render_field userForm.first_name class="form-control" placeholder="First Name" %}
    <label for="last_name">Last Name</label>
    {% render_field userForm.last_name class="form-control" placeholder="Last Name" %}
    <label for="mobile">Mobile</label>
    {% render_field studentForm.mobile class="form-control" placeholder="Mobile" %}
    <label for="address">Address</label>
    {% render_field studentForm.address class="form-control" placeholder="Address" %}

    <label for="username">Username</label>
    {% render_field userForm.username class="form-control" placeholder="Username" %}
    <label for="password">Password {{student.user.password}}</label>
    {% render_field userForm.password class="form-control" placeholder="Password" %}
    <label for="profile_pic">Profile Picture</label>
    {% render_field studentForm.profile_pic class="form-control" placeholder="Profile Picture" %}

    <br><br>
    <input class="btn btn-primary" type="submit" value="Update">

  </form>

</div>

<script>
  var mobile = document.getElementById("id_mobile")
  mobile.value = `{{student.mobile}}`
  var address = document.getElementById("id_address")
  address.value = `{{student.address}}`
</script>

{% endblock content %}